@import "tailwindcss";

.bg-primary {
    @apply bg-gray-900;
}

.text-primary {
    color: #1e3a8a;
}


.btn-dashboard {
@apply inline-block bg-gradient-to-bl from-sky-300 via-sky-400 to-sky-500 text-white font-semibold text-lg px-5 py-2 rounded-xl shadow-lg
        transition transform duration-300
        translate-y-0
        hover:shadow-blue-400/30 
        hover:-translate-y-1.5
        hover:scale-102
        will-change-transform
}

.scale-on-hover {
    @apply
        transform
        scale-100
        transition-transform duration-300
        hover:scale-105
        will-change-transform
}

.scale-on-hover-x115 {
    @apply
        transform
        scale-100
        transition-transform duration-300
        hover:scale-115
        will-change-transform
}


@layer utilities {
  @keyframes pulse-scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-pulse-scale {
    animation: pulse-scale 1.5s ease-in-out infinite;
  }
}



@layer utilities {
  @keyframes cyber-glow {
    0%, 100% {
      text-shadow: 0 0 8px rgba(255,255,255,0.3),
                   0 0 16px rgba(255,255,255,0.1),
                   0 0 24px rgba(255,255,255,0.1);
    }
    50% {
      text-shadow: 0 0 16px rgba(255,255,255,0.5),
                   0 0 32px rgba(255,255,255,0.4),
                   0 0 48px rgba(255,255,255,0.1);
    }
  }

  .cyber-glow {
    animation: cyber-glow 1.5s infinite alternate;
  }
}

@layer utilities {
  @keyframes cyber-glow-lite {
    0%, 100% {
      text-shadow: 0 0 6px rgba(255,255,255,0.15),
                  0 0 12px rgba(255,255,255,0.08),
                  0 0 18px rgba(255,255,255,0.05);
    }
    50% {
      text-shadow: 0 0 12px rgba(255,255,255,0.2),
                  0 0 24px rgba(255,255,255,0.12),
                  0 0 36px rgba(255,255,255,0.08);
    }
  }



  .cyber-glow-lite {
    animation: cyber-glow-lite 1.5s infinite alternate;
  }
}

html {
  scroll-behavior: smooth;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}


.basic-window {
    @apply bg-gradient-to-bl from-sky-500 via-sky-400 to-sky-300 p-6 rounded-2xl max-w-screen-md  mx-auto overflow-hidden
}


@theme {
    --color-secondary-1: #1d1d1b;
    --color-secondary-2: #383834;
    --color-secondary-3: #1d1d1b;
}

.mask-ihani {
  -webkit-mask-image: url('./assets/icon.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url('./assets/icon.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

html, body {
    overflow-x: hidden;
}