@import "tailwindcss";

.bg-primary {
    background-color: #292926;
}

.bg-secondary {
    @apply bg-gradient-to-tr from-secondary-1 via-secondary-2 to-secondary-3
}

.text-primary {
    color: #1e3a8a;
}


.btn-dashboard {
@apply inline-block bg-gradient-to-bl from-yellow-300 via-yellow-400 to-yellow-500 text-white font-semibold px-4 py-2 rounded-xl shadow-lg
        transition transform duration-300
        translate-y-0
        hover:shadow-yellow-400/30 
        hover:-translate-y-1.5
        hover:scale-102
        will-change-transform
}

.basic-window {
    @apply bg-gradient-to-bl from-yellow-500 via-yellow-400 to-yellow-300 p-6 rounded-2xl max-w-screen-md  mx-auto
}


@theme {
    --color-secondary-1: #1d1d1b;
    --color-secondary-2: #383834;
    --color-secondary-3: #1d1d1b;
}